{% extends 'meeting/base.html' %}
{% load static %}

{% block title %}
Meetup Detail
{% endblock title %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'meeting/styles/meetup-detail.css' %}">
{% endblock css_style %}

{% block body %}
<main>
    <article>
        <img src="" alt="">

        <section id="location">
            <h2>{{title}}</h2>
            <address>This meetup takes place in </address>
        </section>

        <section id="details">
            <h2>What's this meetup about?</h2>
            <p>{{description}}</p>
            <footer>
                <p>Need more details? Please <a href="">contact the organiser</a> ( but don't spam us ) </p>
            </footer>
        </section>

        <section id="registration">
            <h2>Join us</h2>

        </section>

    </article>
</main>
{% endblock body %}
