{% extends 'meeting/base.html' %}
{% load static %}
{% block title %}
All Meetups
{% endblock title %}

{% block css_style %}
  <link rel="stylesheet" href="{% static 'meeting/styles/all-meetups.css' %}" />
{% endblock css_style%}

{% block heading %}
  We got great meetups coming up!
{% endblock %}

{% block heading_content %}
  Find the one that best suits your needs!
{% endblock %}

{% block body %}
  <section>
    <h2>Upcoming Meetups!</h2>
    {% include "meeting/includes/meetup-item.html" %}
  </section>
{% endblock %}
